{{define "Aleftmenu"}}

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">

            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">首页</a>
                <dl class="layui-nav-child">
                    <dd><a href="/" target="view_window">网站首页</a></dd>
                    <dd><a href="javascript:;">轮播管理</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">影片管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/a/movie/edit">添加影片</a></dd>
                    <dd><a href="/a/movie">影片列表</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">关系管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">添加关系</a></dd>
                    <dd><a href="javascript:;">关系列表</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">资讯管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">添加资讯</a></dd>
                    <dd><a href="javascript:;">资讯列表</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">推荐管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">添加推荐</a></dd>
                    <dd><a href="javascript:;">推荐列表</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

{{end}}