{{template "Aheader" .}}

{{template "Aleftmenu" .}}

<!-- 内容主体区域 -->
<div class="layui-body">

    <div style="padding: 50px;">内容主体区域</div>
    <div style="padding: 50px;">内容主体区域</div>
    <div style="padding: 50px;">内容主体区域</div>
    <div style="padding: 50px;">内容主体区域</div>
    <div style="padding: 50px;">内容主体区域</div>
    <div style="padding: 50px;">内容主体区域</div>
    <div style="padding: 50px;">内容主体区域</div>
    <div style="padding: 50px;">内容主体区域</div>
    <div style="padding: 50px;">内容主体区域</div>

</div>

{{template "Afooter" .}}