{{define "navbar"}}

<style>
    .titlebar {
        background-color: #393D49;
        box-shadow: 2px 2px 2px #aaa;
    }

    .headview {
        height: 150px;
    }

</style>
<div class="layui-row headview">

</div>

<div class="layui-row titlebar">

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md8">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item {{if eq .cid ''}}layui-this{{end}}"><a href="/">首页</a></li>
                    <li class="layui-nav-item {{if eq .cid '0'}}layui-this{{end}}"><a href="/list/0">美剧下载</a></li>
                    <li class="layui-nav-item {{if eq .cid '0'}}layui-this{{end}}"><a href="/list/1">动作</a></li>
                    <li class="layui-nav-item {{if eq .cid '0'}}layui-this{{end}}"><a href="/list/2">科幻</a></li>
                    <li class="layui-nav-item {{if eq .cid '0'}}layui-this{{end}}"><a href="/list/3">喜剧</a></li>
                    <li class="layui-nav-item {{if eq .cid '0'}}layui-this{{end}}"><a href="/list/4">谍战</a></li>
                    <li class="layui-nav-item ">
                        <a href="javascript:;">更多···</a>
                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="/list/5">灵异惊悚</a></dd>
                            <dd><a href="/list/6">律政医务剧情</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-col-md4">
                <form class="layui-form" action="" style="margin-top: 11px">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="text" name="key" autocomplete="true" placeholder="搜索" class="layui-input">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });

    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
{{end}}