<style>
    html, body {
        padding: 0;
        margin: 0;
    }

    .milky {
        font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
        font-size: 150px;
        color: #393D49;
        text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
        font-weight: bold;
        letter-spacing: -4px;
    }
</style>

<div style="width: 100%;height: 100% ;text-align: center;color: #333333;">

    <img src="/static/img/404.jpg" style="width: 100%;height: 100% "/>
    <div style="position: absolute;top: 35%;left: 45%">
        <label class="milky">{{.code}}</label>
        <br>
        <label><a href="/" style="text-decoration:none">Go Home</a></label>
    </div>


</div>