{{template "header" .}}

{{template "navbar" .}}

<style>

    .card {
        box-shadow: 2px 2px 2px #aaa;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #fff;

    }

    .part {
        margin-top: 10px;
    }

    .card:hover {
        box-shadow: 3px 3px 3px #888;
    }

    .layui-elem-quote {
        border-left: 5px solid #009688;
    }

    .newslist {
        line-height: 35px;
        padding-left: 7px;
        border-bottom: 1px dotted #ddd;
    }

</style>
<div class="layui-container" style="margin-top: 10px">

    <div class="layui-row layui-col-space10">

        <div class="layui-col-md8">
            <blockquote class="layui-elem-quote" style="margin-top: 10px;">
                <h2>最近更新</h2>
            </blockquote>

            <div class="layui-row part layui-col-space10 ">

                {{range .list}}

                <div class="layui-col-md3">
                    <div class="card" style="height: 260px">
                        <a href="/d/1">
                            <div style="width: 100%;height: 200px;overflow:hidden">
                                <img src="http://img.hb.aicdn.com/b73f28153efbde3d480432b278c1abdced75a50016f89-u8Bjci_fw658"
                                     style="width: 100%">
                            </div>
                        </a>

                        <div style="height: 50px;width: 100%;text-align: center ">

                            <label style="line-height: 30px;color: #333">
                                <a href="/d/1">海豹突击队第一季</a>
                            </label>


                            <br>
                            <label style="line-height: 20px;color: #888">更新到第9集</label>
                        </div>

                    </div>
                </div>

                {{end}}

                <div style="text-align: center">
                    <div id="pager"></div>
                </div>

            </div>
        </div>
        <div class="layui-col-md4 ">

            <blockquote class="layui-elem-quote" style="margin-top: 10px;">
                <h2>热门下载</h2>
            </blockquote>
            <div class="layui-row part layui-col-space10 ">
                {{range .randomList}}

                <div class="layui-col-md6 ">
                    <div class="card" style="height: 200px">

                    </div>
                </div>
                {{end}}
            </div>

            <blockquote class="layui-elem-quote" style="margin-top: 20px;">
                <h2>随便看看</h2>
            </blockquote>

            <div class="layui-row part layui-col-space10 ">
                {{range .randomList}}
                <div class="layui-col-md6">
                    <div class="card" style="height: 200px">

                    </div>
                </div>
                {{end}}
            </div>

        </div>

    </div>

</div>

<script>
    layui.use(['laypage'], function () {
        var laypage = layui.laypage;

        laypage.render({
            elem: 'pager'
            , count: {{.total}} //数据总数
            ,limit:40//每页条数
            , curr:{{.p}}
            ,jump: function (obj, first) {
            if (!first) {
                //do something
                window.location.href = "/list?cid={{.cid}}&p=" + obj.curr;
            }
        }
    });
   });

</script>


{{template "footer" .}}